<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Calculadora de Cores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cores</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <div> 
  <ion-item>      
    <ion-button type="button" color="primary"  (click)="reset()">limpa a cor</ion-button>
  </ion-item>  
  </div>
  
  <div>
    <ion-item>
      <ion-label>escolha a cor</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="FF0000" >vermelho</ion-select-option>
        <ion-select-option value="00FF00">verde</ion-select-option>
        <ion-select-option value="0000FF">azul</ion-select-option>
        <ion-select-option value="FFFF00">amarelo</ion-select-option>
        <ion-select-option value="CCEEFF">azul-claro</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <form name="convert">
    
    <ion-item>     
    <ion-label style="color: {{minhacor}}; background-color: {{cordefundo}}" >Muda Aqui</ion-label>
   </ion-item>
  

    <ion-item>      
      <ion-button type="button" color="primary"  (click)="hexatorgb()">muda para vermelho<ion-spinner name="crescent"></ion-spinner></ion-button>
    </ion-item>
    <ion-item>      
      <ion-button type="button" color="primary"  (click)="hexatorgb2()">muda para verde<ion-spinner name="crescent"></ion-spinner></ion-button>
    </ion-item>
    <ion-item>      
      <ion-button type="button" color="primary"  (click)="hexatorgb3()">muda para azul<ion-spinner name="crescent"></ion-spinner></ion-button>
    </ion-item>
    <ion-item>      
      <ion-button type="button" color="primary"  (click)="hexatorgb4()">muda para amarelo<ion-spinner name="crescent"></ion-spinner></ion-button>
    </ion-item>
    <ion-item>      
      <ion-button type="button" color="primary"  (click)="hexatorgb5()">muda para azul claro- cor do céu<ion-spinner name="crescent"></ion-spinner></ion-button>
    </ion-item>
  
 </form>

  <app-explore-container name="Tab 2 page">cores</app-explore-container>
</ion-content>
