<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora de bases
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">calculadora app</ion-title>
    </ion-toolbar>
  </ion-header>

 
  <div>
    <ion-label><h1>Calculadora de Bases</h1></ion-label>
    <br><br>
  </div>
  
  <form name="convert">
    <ion-item>    
      <ion-label>Novo Valor:</ion-label>
      <ion-input  type="text"  id="newValue" name="newValue" size="7"  [(ngModel)]="calculator.newValue" placeholder="Novo Valor">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-button type="button" color="primary" (click)="convert()">Converter</ion-button>
      <ion-button type="button" color="light" (click)="reset()">Zerar</ion-button>
    </ion-item>

    <ion-item>    
      <ion-label>Decimal:</ion-label>
      <ion-input  type="text" id="decimal" name="decimal" size="7"[(ngModel)]="calculator.decimal" placeholder="Decimal">
      </ion-input>
    </ion-item>
    
    <ion-item>      
      <ion-label>Binário:</ion-label>
      <ion-input type="text" id="binario" name="binario" size="7" [(ngModel)]="calculator.binary" placeholder="Binário">
      </ion-input> 
    </ion-item>

    <ion-item>      
      <ion-label>Octal:</ion-label>
      <ion-input type="text" id="octal" name="octal" size="7" [(ngModel)]="calculator.octal" placeholder="Octal">
      </ion-input>
    </ion-item>
  
    <ion-item>     
      <ion-label>Hexadecimal:</ion-label>
      <ion-input type="text" id="hexadecimal" name="hexadecimal" size="7" [(ngModel)]="calculator.hexa" placeholder="Hexadecimal">
      </ion-input>
    </ion-item>            
  </form>
</ion-content>
