#container {
	text-align: center;
  
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
  }
  
  #container strong {
	font-size: 20px;
	line-height: 26px;
  }
  
  #container p {
	font-size: 16px;
	line-height: 22px;
  
	color: #8c8c8c;
  
	margin: 0;
  }
  
  #container a {
	text-decoration: none;
	
  }
  .container{
	display: block;
	background: #f4f4f4;
	max-width:650px;
	margin-top:20px;
	margin-left: auto;
	margin-right:auto;
	padding:10px 40px;
	text-align:center;
	position:relative;
	font-family: sans-serif;
	font-size: 15px;
  }
  form{
	  border: 5px double black; 
	  background-color: #FAE3B4; 
	  padding: 4px;
	  text-align:left;
	  left:37%;
	  top:29%;
	  width:300px;
	  height:600;
	  margin-left: 35px;
	  }
	  
	  label{
	  margin-top: 8px;
	  }
	  input{
		  width:100%;
		  display:inline-block;
		  font-weight: 100;
		  font-size: 20px;
		  margin:5px 0;
		  color:#3f3f3f;

	  }
  
	  h1{
		  font-size:18px;
		  font-weight: 200;
		  line-height: 100%;
		  padding-top: 10%;
		  font-weight: 700;
		  color:#555459;
		  margin-top:20px;
		  margin-left: 35px;
		  margin-right: 35px;
		  margin-bottom:20px;
		  text-align: auto;
	  }
	  